{% extends_admingenerated "NitraInformationBundle:InformationList:row.html.twig" %}

{% block list_td_column_image %}
    {% if Information.image %}
        <img src="{{ Information.image }}" style="max-height: 100px; max-width: 100px;">
    {% endif %}
{% endblock %}