{% extends_admingenerated "NitraInformationBundle:InformationCategoryNew:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    {% if form.inFooter is defined and form.sortOrderInFooter is defined %}
        <script type="text/javascript">
            $(document).ready(function() {
                var $inFooter        = $('#{{ form.inFooter.vars.id }}');
                var $sortInFooterRow = $('#{{ form.sortOrderInFooter.vars.id }}').parents('.form_row').eq(0);

                $inFooter.change(function() {
                    if ($inFooter.is(':checked')) {
                        $sortInFooterRow.slideDown();
                    } else {
                        $sortInFooterRow.slideUp();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock javascript_head %}